body {
  background-color: hsl(212, 45%, 89%);
  padding: 0 20px;
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: "Outfit", sans-serif;
}

.card {
  background-color: hsl(0, 0%, 100%);
  margin: auto;
  padding: 16px;
  border-radius: 16px;
  max-width: 290px;
}

img.card-image {
  max-width: 100%;
  border-radius: 16px;
}

.card-text-container {
  padding: 0 16px;
}

h4 {
  font-size: 22px;
  text-align: center;
  color: hsl(218, 44%, 22%);
  margin: 20px 0;
}

p {
  font-size: 15px;
  text-align: center;
  color: hsl(220, 15%, 55%);
  margin-top: 0;
}
